<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greengram2.user.UserMapper">
    <insert id="insUser" useGeneratedKeys="true" keyProperty="iuser">
        insert into t_user
        set uid = #{uid}
        , upw = #{upw}
        , nm = #{nm}
            <if test="pic != null and pic !=''">
            , pic = #{pic}
            </if>
    </insert>
    <select id="selUser">
        select upw, iuser, nm, pic
        from t_user
        where uid = #{uid}
    </select>
    <select id="selUserInfo">
        SELECT u.nm, u.created_at as createdAt, COUNT(distinct f.ifeed) AS feedCnt
        , COUNT(fav.ifeed) AS favCnt, u.pic
        from t_user u
        left JOIN t_feed f
        ON f.iuser = u.iuser
        left JOIN t_feed_fav fav
        ON f.ifeed = fav.ifeed
        WHERE u.iuser = #{iuser};

    </select>
    <update id="upUserPic">
        update t_user
        set pic = #{pic}
        where iuser = #{iuser}
    </update>
</mapper>